
.collapse .navbar-nav .nav-item{
    margin:0 20px 0px;

}
.collapse .navbar-nav .nav-item a{
    height:40px;
    width: 120px;
    height:40px;
    text-align: center
    
}
.collapse .navbar-nav .nav-item a:hover{
    color: white;
    background:darkblue;
    opacity: 0.9;
    border-radius: 5px;    
    
}

.navbar-text a:hover{
     color: white !important;
    background:darkblue !important;
    opacity: 0.9 !important;
    border-radius: 5px !important; 
}
div.marquee {
    white-space:no-wrap;
    overflow:hidden;
    background: rgb(233, 208, 204);
    
}
div.marquee  div.marquee-text {
    white-space:nowrap;
    display:inline;
    width:auto;
    
}
div.marquee a:hover {
    text-decoration: none;
}
.accordion {
    text-align: center;
}
.btn-link:hover{
    text-decoration: none;
}
.container .display-4{
    font-weight: bold ;
    font-size: x-large
}

.bd-footer .container-fluid .bd-footer-links{
    list-style-type: none;
    float: left;
}
